<h1>Dashboard</h1>
<h2>Balance: {{ balance }}</h2>


<a href="/">All Items</a> |
<a href="/?type=income">Only Income</a> |
<a href="/?type=expense">Only Expenses</a> |
<a href="/summary">View Summary</a> |
<a href="/add">Add New Item</a> |
<a href="{{ url_for('main.taxes') }}">Manage Taxes</a> |
<a href="/logout">Logout</a>

<br><br>


<form method="GET" action="/">
    <input type="number" name="month" placeholder="Month (1-12)">
    <input type="text" name="category" placeholder="Category">
    <button type="submit">Filter</button>
</form>


<ul>
{% for item in items %}
    <li>
        {{ item.emoji }} {{ item.name }} - {{ item.amount }} ({{ item.category }}) - {{ 'Income' if item.is_income else 'Expense' }}
          <a href="{{ url_for('main.delete_item', item_id=item.id) }}" class="text-danger ms-2">Delete</a>
    </li>
{% endfor %}
</ul>
