{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Register</h1>

<form method="POST" class="mb-4" style="max-width: 400px; margin: auto;">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>

    <button type="submit" class="btn btn-success w-100">Register</button>
</form>

<div class="text-center">
    <a href="{{ url_for('auth.login') }}">Already have an account? Login</a>
</div>
{% endblock %}
